# Created by https://www.toptal.com/developers/gitignore/api/windows
# Edit at https://www.toptal.com/developers/gitignore?templates=windows

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/windows

# Ignoring pictures
*.png

# Ignoring excel files (due to size limitations)
*.xlsx

# Ignoring Word docs, converted to pdf instead
*.docx

# Ignoring .venv
*.venv

# Ignoring .vscode
*.vscode

# Ignoring 100MB+ files directly
r-rshiny/Final Project/Most-Recent-Cohorts-Field-of-Study.csv
r-rshiny/Final Project/Most-Recent-Cohorts-Institution.csv
